.bigblue {
  color: rgb(255, 158, 30);
  padding: 40px;
  font-size: 70px;
  font-family: Arial;
  text-align: center;
}

.welcomeP {
  color: rgb(255, 158, 30);
  padding: 10px;
  position: relative;
  top: -30px;
  font-size: 30px;
  font-family: Arial;
  text-align: center;
}
